/*==================================
                RESET
==================================*/

*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Cairo,sans-serif;

background:#F5F7FA;

overflow-x:hidden;

color:#111827;

min-height:100vh;

display:flex;

flex-direction:column;

}



/*==================================
                NAVBAR
==================================*/


.navbar{

display:flex;

justify-content:center;

gap:40px;

padding:25px;

background:#041C32;

flex-wrap:wrap;

}


.navbar a{


text-decoration:none;

color:white;

font-size:22px;

font-weight:700;

transition:.3s;


}


.navbar a:hover{


color:#FFD700;


}




/*==================================
              LOGIN
==================================*/


.login-section{


width:100%;

max-width:650px;

margin:100px auto;

padding:50px;

background:white;

border-radius:30px;

box-shadow:

0 0 25px

rgba(0,0,0,.1);


}



.login-section h1{


text-align:center;

margin-bottom:50px;

font-size:42px;

color:#041C32;


}



#loginForm{


display:flex;

flex-direction:column;

gap:30px;


}



#loginForm input{


padding:22px;

border:none;

outline:none;

font-size:22px;

border-radius:20px;

box-shadow:

0 0 15px

rgba(0,0,0,.1);


}




#loginForm button{


padding:22px;

border:none;

cursor:pointer;

font-size:24px;

font-weight:700;

border-radius:20px;

background:#041C32;

color:white;

transition:.3s;


}



#loginForm button:hover{


background:#FFD700;

color:black;


}




/*==================================
                FOOTER
==================================*/


footer{


margin-top:auto;

padding:40px;

text-align:center;

font-size:22px;

background:#041C32;

color:white;


}




/*==================================
            RESPONSIVE
==================================*/


@media(max-width:768px){


.login-section{


width:90%;

padding:35px;


}


.login-section h1{


font-size:32px;


}


#loginForm input{


font-size:18px;


}


#loginForm button{


font-size:20px;


}


}



@media(max-width:500px){


.navbar{


gap:20px;


}


.login-section{


margin:50px auto;


}


}